[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "external/Font-Awesome"]
    path = external/Font-Awesome
    url = https://github.com/FortAwesome/Font-Awesome
    branch = 5.x
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
