[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk
